{
    "endOfLine": "auto",
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "parser": "typescript",
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "printWidth": 200
            }
        }
    ]
}
