#container {
    display: flex;
    margin-top: 10rem;
    justify-content: center;
}

.group-column {
    display: flex;
    flex-direction: column;
}

.group-column div {
    margin: 0 auto;
}

.group-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.line-box {
    display: flex;
    width: 100%;
}

.line {
    width: 50%;
    height: 20px;
}

.line.border-right {
    border-right: 1px solid #ccc;
}

.line.border-top {
    border-top: 1px solid #ccc;
}

.member-box {
    width: 250px;
    padding: 0 10px;
}

.member {
    position: relative;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}

.profile-box {
    display: flex;
    justify-content: space-between;
}

.profile-box div {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.profile-box div img {
    width: 100%;
    object-fit: cover;
}

.profile-box ul {
    text-align: left;
}

.add-btn,
.remove-btn {
    width: 26px;
    height: 26px;
    position: absolute;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: white;
    font-size: 18px;
}

.add-btn {
    bottom: -13px;
    left: calc(50% - 13px);
}

.remove-btn {
    top: -13px;
    left: calc(50% - 13px);
}
