#container {
    width: 100%;
}

.group-column {
}

.group-column div {
    margin: 0 auto;
}

.member {
    width: 200px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}
